apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: cf-cert-prod
  namespace: cert-manager
spec:
  secretName: cf-cert-prod
  issuerRef:
    name: cf-le-prod
    kind: ClusterIssuer
  commonName: "*.{{ domain }}"
  dnsNames:
  - "*.{{ domain }}"
  acme:
    config:
    - dns01:
        provider: cf-dns
      domains:
        - "*.{{ domain }}"