provider "helm" {
  version        = "{{ helm_version }}"
}

{% if build == 'aws' or build == 'pi' %}
terraform {
  backend "s3" {
    bucket                = "{{ bucket }}"
    key                   = "terraform/terraform.tfstate"
    region                = "{{ region }}"
    workspace_key_prefix  = "helm-contour"
  }
}
{% endif %}

resource "helm_release" "contour" {
  name  = "contour"
  chart = "stable/contour"
  namespace = "kube-system"
}